body {
  font-family: sans-serif;
  background-color: #23d160;
}

a {
  text-decoration: none;
}

label {
  display: block;
}

nav a {
  display: inline-block;
  margin: 1em;
}

nav {
  background-color: black;
}

.link {
  color: #23d160;
}

form div {
  margin: 1em;
  display: inline-block;
}

.product-image {
  height: 250px;
  width: 250px;
}

.all-products {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
}

.product-row {
  justify-content: center;
}

.product-box {
  margin: 15px;
  margin-top: 20px;
  padding: 5px;
  border: solid black;
  background-color: black;
  width: 90%;
}

.product-items {
  flex-basis: 40%;
  justify-content: center;
}
