body {
  font-family: sans-serif;
  background-color: #23d160;
}

a {
  text-decoration: none;
}

label {
  display: block;
}

nav a {
  display: inline-block;
  margin: 1em;
}

nav {
  background-color: black;
}

.link {
  color: #23d160;
}

form div {
  margin: 1em;
  display: inline-block;
}

.product-image {
  height: 250px;
  width: 250px;
  justify-content: center;
  margin-top: 15px;
}

.all-products {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
}

.product-row {
  justify-content: center;
}

.product-box {
  margin: 15px;
  margin-top: 20px;
  padding: 5px;
  border: solid black;
  background-color: black;
  width: 90%;
}

.product-items {
  flex-basis: 40%;
  justify-content: center;
}

.modal-content {
  margin: 10%; /* Magic! */
}

.link-text {
  color: #23d160;
}
.link-text:hover {
  color: grey;
}

.has-image-centered {
  display: flex;
  margin-right: auto;
  margin-left: auto;
}

.each-cart-select {
  display: flex;
  justify-content: center;
}

.checkout-button {
  display: flex;
  justify-content: center;
  padding-bottom: 50px;
}

#single-product {
  display: flex;
  flex-direction: column;
  margin-left: 50px;
  margin-right: 50px;
}

#select {
  display: flex;
}

/* #single-select {
  display: flex;
  align-items: flex-end;
} */

#single-add {
  margin-top: 10px;
  margin-bottom: 15px;
}

#cart-select {
  display: flex;
}

#checkout-submit {
  margin-top: 15px;
  margin-bottom: 15px;
}

#done-button {
  margin-top: 10px;
  margin-bottom: 15px;
}
